# Virtual environment
venv/
env/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
interest_log.txt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
